@charset 'utf-8';
/*头*/
header .right{
	display: none;
}

header .sjd{
	display: block;
}
header .sjd .left{
		position: fixed;left: 0px;top: 0px;
		display: none;

}
header .sjd .left ul{
	padding-top: 20px;
	height:99999px;
		background-color: #333;

}
header .sjd .left li{
	cursor: pointer;
	border-bottom: 1px solid black;
	height:50px;
	line-height:50px;
	padding-left: 35px;
	color:#ccc;
}
header .sjd .dh{
	position: absolute;
	right:20px;
	top: 50px;
	float: right;
	cursor: pointer;
}
header .sjd .dh span{
	
	margin-bottom:5px;
	display: block;width:30px;height:5px;background-color: #333
}

/*内容0*/
.neirong0 img{
	margin-top: 0px;
	margin-left: 0px;
	display: block;
	width:100%;
	height:280px;
}
.neirong0{
	height: 280px
}
.neirong0 .tab{
	bottom: 20px;
}
/*内容1*/

 .neirong1 .u1 li{
    overflow: hidden;
    position: relative;
    padding-top:50px;
    text-align: center;
  
    width: 288px;
    height: 298px;
    margin-top: 50px;
    margin-left:0px;
    float: left;list-style: none;

  }
/*内容2*/
.neirong2{
	height: 550px;
	font-size: 14px;
	letter-spacing: 0
}
.neirong2 li{
height:300px;
}
.neirong2 .xia{
	display: block;
}
.neirong2 .yc .p1{
  margin-top: 15px;
  margin-bottom:15px;
  font-size:16px;
  font-weight: bold;
}
.neirong2 .yc .p2{
  margin-bottom: 10px;
  margin-left:5%;
  margin-right:5%;
  font-size: 12px;
}
.neirong2 .gd{
  cursor: pointer;
  border: 1px solid white;
  margin-top:30px;
  height: 40px;
  width:60%;
  margin-left:30%;
  text-align: center;
  line-height: 40px;
}
.neirong2 .gd .span2,.neirong2 .gd .span3{
  width:10%;height:40%;
  border: 1px solid white;
  border-top: 3px solid white;
  display:inline-block;
}
.neirong2 .gd .span3{
  position: relative;
  z-index: 6;
  background-color: orange;
}
.neirong2 .gd .span3{
  position: relative;
  right:20%;
  top: 5% ;
}
/*内容3*/
.neirong3 .show{
display: block;
}
.neirong3{

	background-image: none;
	height:5500px;
}
.neirong3 .images{
  padding-left:0px;
  background-image: none;
}
.neirong3 .images .zuo img{
width: 100%;
height: 100%
}
.neirong3 .images .you li{
list-style: none;
width: 100%;
margin-top:70px;
}
.neirong3 .images .you li img{
	width:80%;
	height:100%;
}


.neirong3 .jsq0 li{
	width:20%;
	height:50px;
	float:right;
	margin-left: 0;
	padding-left:400px;
	color: black;
}


/*内容4*/
.neirong4{
	height: 750px;
}
.liebiao li{
  overflow: hidden;
  list-style: none;
  width:100%; 
  margin-bottom: 10px
}
.liebiao .zuo{
  border: 1px solid;
  width:70px;
  height:70px;
/*  line-height: 100px;
*/  border-radius:70px;
  text-align: center;
}
.liebiao .zuo .big{
  margin-top: 10px;
  font-size:25px;
  font-weight: bolder;
}
.liebiao .you{
	margin-top: 10px;
	height: 70px;
}
.liebiao .da{
  font-size:14px;
  margin-bottom: 10px;
}
.liebiao .xiao{
  font-size:10px;
  color: #555;height:40%;
  width: 100%;
  overflow: hidden;
  letter-spacing: 5px;
}

/*尾*/
footer .d1,.d2{
	display: none;
}
/*侧边*/
.cebian_dh{
	display: none;
}