@charset 'utf-8';
.nr{

	padding-right:6%;
	li {
		.right{
         width:100%;    
	    }
	    .left{
       display: none;
	    }
    }
}

header .right{
	display: none;
}

header .sjd{
	display: block;
}
header .sjd .left{
		position: fixed;left: 0px;top: 0px;
		display: none;

}
header .sjd .left ul{
	padding-top: 20px;
	padding-right: 30px;
	height:99999px;
		background-color: #333;

}
header .sjd .left li{
	cursor: pointer;
	width:250px;
	border-bottom: 1px solid black;
	height:50px;
	line-height:50px;
	padding-left: 35px;
	color:#ccc;
}
header .sjd .dh{
	position: absolute;
	right:20px;
	top: 50px;
	float: right;
	cursor: pointer;
}
header .sjd .dh span{
	
	margin-bottom:5px;
	display: block;width:30px;height:5px;background-color: #333
}
footer .d1,.d2{
	display: none;
}

.cebian_dh{
	display: none;
}