@charset 'utf-8';
.title {
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #333;
  width: 50%;
  margin-left: 25%;
}
.title .s1 {
  font-size: 25px;
  color: #ccc;
}
.title .s2 {
  font-size: 15px;
  color: #ccc;
}
.title .s3 {
  font-size: 25px;
  color: red;
}
.section2 .wrap .total .bj {
  background-position: -260px -220px;
}
.section2 .wrap ul li .t {
  margin-left: 30%;
}
.section4 .wrap .left {
  padding: 0;
}
header .right {
  display: none;
}
header .sjd {
  display: block;
}
header .sjd .left {
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
}
header .sjd .left ul {
  padding-top: 20px;
  padding-right: 30px;
  height: 99999px;
  background-color: #333;
}
header .sjd .left li {
  cursor: pointer;
  width: 250px;
  border-bottom: 1px solid black;
  height: 50px;
  line-height: 50px;
  padding-left: 35px;
  color: #ccc;
}
header .sjd .dh {
  position: absolute;
  right: 20px;
  top: 50px;
  float: right;
  cursor: pointer;
}
header .sjd .dh span {
  margin-bottom: 5px;
  display: block;
  width: 30px;
  height: 5px;
  background-color: #333333;
}
footer .d1,
.d2 {
  display: none;
}
.cebian_dh {
  display: none;
}
